body { background: #bc8146; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 14px; display: flex; }
.block-user-0 { color: #4cae3e; font-size: 15px; margin-bottom: 5px; }
.block-auth-1 { color: #31c686; font-size: 18px; margin-bottom: 5px; }
.block-helper-2 { color: #c0edfa; font-size: 12px; margin-bottom: 5px; }
.block-invoice-3 { color: #57e315; font-size: 20px; margin-bottom: 5px; }
.block-notify-4 { color: #1b0367; font-size: 16px; margin-bottom: 5px; }
.block-product-5 { color: #df4962; font-size: 17px; margin-bottom: 5px; }